# Part of tiny-radioCD project, originally designed & hand-crafted by macmpi
# check License at project home https://github.com/macmpi/tiny-radioCD


#eject CD, pass 0 tracks to playlist generation (special case)
KERNEL=="sr[0-9]", ACTION=="change", ENV{SYSTEMD_READY}=="0", \
RUN+="/usr/local/bin/init-playqueue_helper 0"

#insert CD, pass number of detected audio tracks for playlist generation
KERNEL=="sr[0-9]", ACTION=="change", ENV{ID_CDROM_MEDIA}=="1", \
ENV{ID_CDROM_MEDIA_TRACK_COUNT_AUDIO}=="[0-9]*", \
RUN+="/usr/local/bin/init-playqueue_helper $env{ID_CDROM_MEDIA_TRACK_COUNT_AUDIO}"
